@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}


body, html {
  background-color: rgb(171, 190, 241);
  height: 100vh;
  width: 100vw;
}



main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: white;
  width: 250px;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0,0.450);

  transition: width .3s, height .3s;
  transition-timing-function: ease;
}

section#login div#imagem {
  display: block;
  background:  rgb(171, 190, 241) url(../imagens/img-cel.jpg) no-repeat;
  background-size: cover;
  background-position: left bottom;
  height: 200px;
}

section div#formulario {
  overflow: hidden;
  display: block;
  padding: 10px;
}

.material-symbols-outlined {
  padding-top: 10px;
  padding-left: 5px;
}

section div.email-senha {
  background-color: rgb(168, 184, 230);
  width: 220px;
  height: 46px;
  margin: 8px 0px 0px 15px;
  border-radius: 5px;
}

.email-senha input {
  border: none;
  background-color: white;
  width: 170px;
  height: 28px;
  margin-left: 6px;
  padding: 12px 0px 2px 0px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

div#formulario h1 {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario p {
  font-size: 0.9em;
}

